<div class="dropdown ms-3">
  <button class="btn btn-bd-light dropdown-toggle" id="bd-versions" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
    <span class="d-none d-lg-inline">Bootstrap</span> v{{ .Site.Params.docs_version }}
  </button>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-versions">
    <li><a class="dropdown-item current" aria-current="true" href="/docs/{{ .Site.Params.docs_version }}/">최신 (5.1.x)</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="/docs/versions/">모든 버전</a></li>
  </ul>
</div>
