{{ define "main" }}
  {{ partial "docs-subnav" . }}

  <div class="container-xxl my-md-4 bd-layout">
    <aside class="bd-sidebar">
      {{ partial "docs-sidebar" . }}
    </aside>

    <main class="bd-main order-1">
      <div class="bd-intro ps-lg-4">
        <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
          <div class="btn-group btn-group-sm mb-2 mb-md-0">
            <a class="btn btn-bd-light" href="{{ .Site.Params.i18n }}/blob/main/site/content/{{ .Page.File.Path | replaceRE `\\` "/" }}" title="GitHub에서 보기" target="_blank" rel="noopener">GitHub에서 보기</a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownLanguage">
              <li><a class="dropdown-item" href="https://v5.bootcss.com/{{ .Page.File.Dir | replaceRE `\\` "/" }}{{ .Page.File.ContentBaseName | replaceRE `\\` "/" }}">
                🇨🇳 中文 (简体)
              </a></li>
              <li><a class="dropdown-item" href="https://getbootstrap.su/{{ .Page.File.Dir | replaceRE `\\` "/" }}{{ .Page.File.ContentBaseName | replaceRE `\\` "/" }}">
                🇷🇺 русском
              </a></li>
            </ul>
          </div>
          <h1 class="bd-title" id="content">{{ .Title | markdownify }}</h1>
        </div>
        {{ if .Params.title_en }}<h6 class="text-muted" id="content">// {{ $.Param "title_en" | markdownify }}</h6>{{ end }}
        <p class="bd-lead">{{ .Page.Params.Description | markdownify }}</p>
        {{ partial "ads" . }}
      </div>

      {{ if (eq .Page.Params.toc true) }}
        <div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted">
          <strong class="d-block h6 my-2 pb-2 border-bottom">목차</strong>
          {{ .TableOfContents }}
        </div>
      {{ end }}

      <div class="bd-content ps-lg-4">
        {{ if .Page.Params.sections }}
          <div class="row g-3">
            {{ range .Page.Params.sections }}
            <div class="col-md-6">
              <a class="d-block text-decoration-none" href="../{{ urlize .link }}/">
                <strong class="d-block h5 mb-0">{{ .title }}</strong>
                <span class="text-secondary">{{ .description }}</span>
              </a>
            </div>
            {{ end }}
          </div>
        {{ end }}

        {{ .Content }}
      </div>
    </main>
  </div>
  <div class="text-center">
    aaa
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2578669051257137"
     data-ad-slot="8950816420"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
{{ end }}
{{ define "footer" }}
  {{ range .Page.Params.extra_js -}}
    <script{{ with .async }} async{{ end }} src="{{ .src }}"></script>
  {{- end -}}
{{ end }}
