---
/*
 * Outputs message about dark mode component variants being deprecated in v5.3.
 */

interface Props {
  component: string
}

const { component } = Astro.props
---

<div class="bd-callout bd-callout-warning">
  <p>
    <strong>주의!</strong> v5.3.0에서 색상 모드가 도입되면서 컴포넌트의 어두운 색상 변형이 지원 중단되었습니다.
    <code>.{component}-dark</code>를 추가하는 대신 루트 요소, 부모 래퍼 또는 컴포넌트 자체에 <code>data-bs-theme="dark"</code>를 설정하세요.
  </p>
</div>
