---
import type { Layout } from '@libs/layout'

interface Props {
  layout: Layout
}

const { layout } = Astro.props
---

<div class="skippy visually-hidden-focusable overflow-hidden">
  <div class="container-xl">
    <a class="d-inline-flex p-2 m-1" href="#content">내용으로 이동</a>
    {
      layout === 'docs' && (
        <a class="d-none d-md-inline-flex p-2 m-1" href="#bd-docs-nav">
          문서 목록으로 이동
        </a>
      )
    }
  </div>
</div>
